header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    background: var(--background-content);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

header .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header .logo {
    display: flex;
    align-items: center;
    cursor: default;
}

header .logo span {
    margin-left: 0.5rem;
}